<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="messages.css">
  <title>chat-app</title>
</head>
<body>
  <div class="wrapper">
    <div class="side-bar"></div>
    <div class="chat"></div>
  </div>
</body>
</html>